<<<<<<< HEAD
.tree-cell:prm {
	-fx-font-size: 14pt;
    -fx-text-fill: red;
    
=======


.tree-cell:titileCell {
	-fx-font-size: 14pt;
    -fx-text-fill: red;
    
>>>>>>> 476984b36842bc92890358813282b5786b4c85f9
}